<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Cliente compras</title>
  <link rel="stylesheet" href="estilo.css"> 
</head>
<body>
  <main>
    <header>
      <h1>Tecnologías y Sistemas Web 24/25</h1>
      <h2>Cliente compras</h2>
    </header>
    <article>
      <nav class="navbar">
        <ul>
          <li><a id="homeLink" href="cliente-home.html">Inicio</a></li>
          <li><a id="carroLink" href="cliente-carro.html">Carro</a></li>
          <li><a id="facturasLink" href="cliente-facturas.html">Facturas</a></li>
          <li><a id="perfilLink" href="cliente-perfil.html">Perfil</a></li>
          <li><a id="salirLink" href="home.html" onclick="console.log('Funciona?')">Salir</a></li>
        </ul>
      </nav>
      
      <div class="contenido">
        <div class="info">
          <!-- Contenedor de mensajes -->
          <div class="mensajes-container" id="mensajesContainer"></div>

          <!-- Tabla de compras -->
            <h2>Cliente de compras</h2>
            <table class="factura">
              <!-- Definir los anchos de columna con colgroup para evitar desorden -->
              <colgroup>
                <col style="width: 20%; text-align: center;">
                <col style="width: 40%; text-align: center;">                
                <col style="width: 20%; text-align: center;">
                <col style="width: 20%; text-align: center;">
              </colgroup>
              <thead>
                <tr>
                  <th>Numero</th>
                  <th>Fecha</th>
                  <th>Total</th>
                  <th>Ver</th>
                </tr>
              </thead>
              <tbody id="lista-compras">
      
              </tbody>
            </table>

            <!-- Resumen de totales -->
            <div id="total€" style="text-align: right; margin-top: 20px;">
              <p>Total: €<span id="total-final">0.00</span></p>
            </div>
          </div>
        </div>
    </article>
  </main>
  <script type="module">
    import { ClienteFacturasPresenter } from './ClienteFacturasPresenter.mjs';
    import { model } from './model/model.mjs';

    window.presenter = new ClienteFacturasPresenter(model, "cliente-facturas");

    document.addEventListener("DOMContentLoaded", () => {
      presenter.cargarFacturas();
    });
  </script>
</body>
</html>